NET "L0" LOC = "M5";
NET "L1" LOC = "M11";
NET "L2" LOC = "P7";
NET "L3" LOC = "P6";

NET "L4" LOC = "N5";
NET "L5" LOC = "N4";
NET "L6" LOC = "P4";
NET "L7" LOC = "G1";

NET "Clk" LOC = "B8"; #need clk pin
NET "Clk" PERIOD = 20ns;